*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 63.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    margin: 1rem auto;
    width: 90%;
    background-color: #FFFFFF;
    height: 90px;
    display: inline;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    position: relative;
    top: 0.7rem;
    left: 1rem;
}
nav li {
    display: inline;
    margin-left: 0.5rem;
    top: 0.7rem;
}

.title {
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -1.0rem;
    width: 17rem;
}
.title img{
    width: 30px;
}

nav .search form{
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    padding-right: 20px;
}

.search img {
    position: relative;
    right: 2.2rem;
    width: 20px;
    top: 0.6rem;
}
.maingraphic{
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}
.maingraphic img{
    width: 100%;
}

.maingraphic .left{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
}
.maingraphic .right{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
}

.row {
    display: flex;
    flex-direction: column;
    grid-template-areas: "top top top" "mid mid mid" "bot bot bot";
}